@font-face{
	font-family:'Roboto';
	src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face{
	font-family:'Satisfy';
	src: url(../fonts/Satisfy/Satisfy-Regular.ttf);
}
body{
	font-family: 'Roboto';
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: white;
	min-width: 1120px;
}
.clear{
	clear: both;
}
.fixed-top {
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index:1000;
}
.container{
	width: 100%;
	margin: 0 auto;
}
@media(min-width:1220px){
	.container{
		width: 90%;
		margin: 0 auto;
	}
}

.thong-bao-dang-nhap{
	display: none;
	background: rgba(0,0,0,0.90);
	position: fixed;
	top: 0;
	z-index: 1003;
	height: 100%;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}
.thong-bao-dang-nhap .ok,.no{
	padding: 10px;
	width: 100px;
	background: none;
	color: white;
	font-size: 15px;
	border: 1px solid white;
	transition: 0.3s;
}
.ok:hover{
	background: white;
	color: black;
}
.no:hover{
	background: white;
	color: black;
}
.clearfix{
	clear: both;
}

/* Tabs */
.tabs {
	width: 100%;
    background-color: #1746c7;
    border-radius: 5px 5px 5px 5px;
    margin-top: 150px;
  }
  ul#tabs-nav {
	list-style: none;
	margin: 0;
	padding: 5px;
	overflow: auto;
  }
  ul#tabs-nav li {
	float: left;
	font-weight: bold;
	margin-right: 2px;
	padding: 8px 10px;
	border-radius: 5px 5px 5px 5px;
	/*border: 1px solid #d5d5de;
	border-bottom: none;*/
	cursor: pointer;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
	background-color: #08E;
  }
  #tabs-nav li a {
	text-decoration: none;
	color: #FFF;
  }
  .tab-content {
	padding: 10px;
	border: 5px solid #1746c7;
	background-color: #FFF;
  }
